<header class="head-navigation">
  <img src="../img/bat-icon.ico" alt="" />
  <p>RAMHER</p>
  <nav class="nav-navigation">
    <a href="/" class="nav-link">Inicio</a>
    <a href="/programacion" class="a-link-navigation">Programacion</a>
    <a href="/proyects" class="a-link-navigation">Proyectos</a>
    <a href="/asesorias" class="a-link-navigation">Asesorias</a>
  </nav>
</header>
<header class="head-content">
  <div>
    <h1>Omar Ramirez Hernandez</h1>
    <p>
      ¡Bienvenido a mi sitio web! Soy Omar Ramirez Hernandez, un apasionado
      programador con una sólida experiencia en el desarrollo de software. Si
      estás buscando un profesional con habilidades técnicas y creatividad para
      llevar a cabo tus proyectos, has llegado al lugar adecuado.
    </p>
    <a href="" class="a-btn-on">¿Que lenguajes utilizo?</a
    ><a href="" class="a-btn-off">¿Necesitas una asesoria?</a>
  </div>
  <div>
    <h2>¿Necesitas un programador?</h2>
    <p>
      Estoy aquí para ayudarte. Ya sea que necesites desarrollo web,
      aplicaciones móviles o soluciones personalizadas, puedo trabajar contigo
      para convertir tus ideas en realidad. Puedes ponerse en contacto conmigo a
      través de la sección de contacto, donde estaré encantado de discutir tus
      requerimientos y brindarte una propuesta adaptada a tus necesidades.
    </p>
    <a href="" class="a-btn-on">Contacto</a>
  </div>
</header>
