<section class="card">
  <h2>¿Por qué RAMHER?</h2>
  <p>
    "RAMHER" viene de mis apellidos Ramirez(RAM) Hernandez(HER), tome este
    "apodo" en videojuegos, y en mi proyecto final de el Modulo 1 de la
    especialidad... ademas se me hizo divertido.
  </p>
</section>
<section class="card">
  <h2>¿Quien soy?</h2>
  <p>
    Yo soy Omar Ramirez Hernandez un humilde programador y apasionado de la
    tecnología, naci el 3 de noviembre del 2006 en Tlaxcala, la secundaria la
    estudia en la Esc. Secundaria Gral. Miguel N. Lira, actualmente estudio la
    preparatoria en el CECyTE 26 plantel Tlachco... Me guta mucho batman ! 🦇.
  </p>
  <br />
  <p>
    Con una trayectoria en el mundo de la programación, me he especializado en
    diversos lenguajes y tecnologías, incluyendo pero no limitado a Python,
    JavaScript, HTML, CSS y bases de datos relacionales y no relacionales. Mi
    enfoque se basa en crear soluciones eficientes y robustas que satisfagan las
    necesidades de mis clientes. En este sitio web, podrás conocer más sobre mí
    y mi experiencia profesional. Explora mi portafolio, donde encontrarás
    ejemplos de proyectos anteriores que he llevado a cabo. También podrás
    conocer más acerca de mis habilidades y áreas de especialización.
  </p>
</section>
<section class="card">
  <h2>Contacto</h2>
  <p>
    Si estás buscando un profesional con habilidades técnicas y creatividad para
    llevar a cabo tus proyectos, has llegado al lugar adecuado.
  </p>
  <br />
  <br /><br /><br />
  <a href="mailto:omarramhdz16@gmail.com" class="a-btn-on">Correo</a>
  <a href="mailto:omarramhdz16@gmail.com" class="a-btn-off">Telefono</a>
</section>
