<h2>Hablemos de programacion...</h2>
<section class="languaje-card">
  <h3>¿Necesitas ayuda?</h3>
  <p>
    Yo puedo ayudarte... <br /><br /><br />
    <a href="/asesorias" class="a-btn-on">Agendar sesion</a>
  </p>
</section>
<section class="languaje-card">
  <span class="title">
    <h3>JavaScript</h3>
    <img src="/img/javascript_icon.png" alt="" />
  </span>
  <p>
    Un lenguaje de programacion de alto nivel, para mi JavaScript es el mejor
    lenguaje que existe, por su sintaxis y las multiples cosas que se pueden
    hacer con el... no recomiendo usarlo con Jquery, hoy en dia puedes hacer con
    Js Vanilla lo que con Jquery
  </p>
</section>
<section class="languaje-card">
  <span class="title">
    <h3>Python</h3>
    <img src="/img/python_icon.jpeg" alt="" />
  </span>
  <p>
    Un lenguaje de programacion con muchos recursos... no me agrada mucho su
    documentacion, mucho menos el como maneja las CallBack, mas allá de eso es
    bastante facil de usar
  </p>
</section>
<section class="languaje-card">
  <span class="title">
    <h3>Arduino</h3>
    <img src="" alt="" />
  </span>
  <p>
    Esta basado en C y Java, personalmente me agrada mucho su sintaxis, es
    simple y eficiente, es divertido trabajar la programacion con elementos de
    electronica.
  </p>
</section>
<section class="languaje-card">
  <span class="title">
    <h3>C</h3>
    <img src="" alt="" />
  </span>
  <p>
    Un lenguaje con una sintaxis bastante estricta, pero es un lenguaje
    sumamente rapido, V8 el motor de la web esta basado en C, si sabes
    investigar puede hacer muchas cosas con este lenguaje.
  </p>
</section>
<section class="languaje-card">
  <span class="title">
    <h3>Java</h3>
    <img src="" alt="" />
  </span>
  <p>
    Un lenguaje con una sintaxis muy robusta a mi parecer, no me agrada el como
    maneja ciertas cosas, actualmente hay mejores opciones que Java,
    lamentablemente Java es el rey, pues tiene multiples usos.
  </p>
</section>
<section class="languaje-card">
  <span class="title">
    <h3>Kotlin</h3>
    <img src="" alt="" />
  </span>
  <p>
    De mis lenguajes de programacion favoritos... Una sintaxis bastante
    amigable, gran documentacion, me agrada que tiene algunas funciones
    similares a JavaScript y Python, para mi Kotlin es un grande en el
    desarrollo de apps.
  </p>
</section>
<section class="languaje-card">
  <span class="title">
    <h3>PHP</h3>
    <img src="" alt="" />
  </span>
  <p>
    😐<br />
    Tiene una sintaxis bastante cuestionable, no me agrada mucho su velocidad,
    ni su programacion sincrona, un lenguaje odiado por muchos programadores,
    pero lamentablemente hay muchos sitios echos con PHP por lo que "toco
    soportar".
  </p>
</section>
