<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/bat-icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>RAMHER | login</title>
  </head>
  <body>
    <div id="here"></div>
    <main>
      <h1>Registrate para poder recivir la asesoria</h1>
      <form action="/registro" method="post">
        <input
          type="text"
          placeholder="Nombre"
          autocomplete="off"
          autofocus
          required
          name="nombre"
        />
        <input
          type="text"
          placeholder="Apellidos"
          autocomplete="off"
          required
          name="apellidos"
        />
        <input
          type="email"
          placeholder="correo@ejemplo.com"
          autocomplete="off"
          pattern="/^\w+ ( [\.-]?\w+)*@\w+ ( [\.-]?\w+)* (\.\w {2,4})+$/"
          required
          title="Correo invalido"
          name="correo"
        />
        <input
          type="password"
          placeholder="contraseña"
          name="password"
          autocomplete="off"
          required
        />
        <button type="submit">Registrarse</button>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
<!-- 



  correo: /^\w+ ( [\.-]?\w+)*@\w+ ( [\.-]?\w+)* (\.\w {2,4})+$/


  nombre / apellidos

  ^[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ]+(?:\s+[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ]+){1,5}(?:\s+[-\sa-zA-ZáéíóúÁÉÍÓÚüÜñÑ]+)?$


  
 -->
