<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/bat-icon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/programacion.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Programacion</title>
  </head>
  <body>
    <div id="here"></div>
    <main></main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/prog.js"></script>
  </body>
</html>
