doctype html
html(lang="es-MX")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href=icon, type="image/x-icon")
    title= title
    //-meta(name="description", content=desc)
    link(rel="manifest" href="manifest.json")
    link(rel="stylesheet", href=styleName, type="text/css")
  body
    block content

//- public\other\paw-face-logo.svg